body {
    background-image: linear-gradient(
        45deg,
        hsl(240deg 100% 20%) 0%,
        hsl(242deg 100% 26%) 10%,
        hsl(245deg 99% 32%) 20%,
        hsl(248deg 99% 38%) 30%,
        hsl(250deg 99% 44%) 40%,
        hsl(251deg 100% 50%) 50%,
        hsl(258deg 100% 45%) 60%,
        hsl(264deg 100% 40%) 70%,
        hsl(268deg 100% 35%) 80%,
        hsl(271deg 93% 31%) 90%,
        hsl(274deg 83% 28%) 100%
    );
    height: 100vh;
}

h1 {
    color: #fff;
    text-align: center;
}

button {
    background-color: black;
    /* padding: 7px; */
    border-radius: 7px;
    border: none;
    width: 9em;
    height: 5ex;
    background-color: gold;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

button:hover, button:focus {
    background-color: pink;
    border: 2px solid firebrick;
}

.podcast-card {
    color: #fff;
    border: 1px solid cornflowerblue;
    text-align: center;
    margin-bottom: 8px;
}

.podcast-title {
    font-weight: bold;
    font-size: 18px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 18px;
}