html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100%;
  border-radius: 0.6em;
}

p {
  text-align: center;
  padding: 0.4em;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #3e0241;
}

a:hover {
  border-bottom: #dd6486 0.125em solid;
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 0.8em;
  border-radius: 1em;
  margin: auto;
  width: 14em;
}

.bold-text {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  font-size: 1.1rem;
  margin-top: 0.4em;
}

.text {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  font-size: 0.8rem;
  margin-bottom: 0.8em;
}

@media (max-width: 320px) {
  body {
    padding: 0 0.5em;
  }

  .card {
    width: 9em;
  }

  .bold-text {
    font-size: 0.7rem;
  }

  .text {
    font-size: 0.53rem;
  }

  footer > p {
    font-size: 0.67rem;
  }
}
